{% load static %}

{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800;900&family=Poppins:wght@400;600;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

    .question-page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
    }

    .question-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80vw;
        gap: 20px;
        border-radius: 10px;
        padding: 50px 30px;
    }

    .choice-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 70vw;
        padding-bottom: 20px;
    }

    .submit-answer:disabled {
        background-color: grey;
        cursor: not-allowed;
    }

    #countdown.flashing {
        color: red;
        animation: flash 1s steps(2) infinite;
    }

    @keyframes flash {
        50% {
            opacity: 0;
        }
    }

    .choice-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        width: 70vw;
        padding-bottom: 20px;
    }

    .choice {
        padding: 10px;
        /* border: 2px solid grey; */
        background-color: white;
        color: black;
        font-family: "Prompt";
        border-radius: 10px;
        /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
        cursor: pointer;
        font-size: 1.25rem;
    }

    .choice:hover {
        border-color: black;
    }

    .submit-answer {
        border: none;
        background-color: #e6007f;
        cursor: pointer;
        padding: 5px;
        font-size: large;
        padding: 10px 30px;
        border-radius: 20px;
        color: white;
        font-weight: 500;
    }

    .submit-answer:hover {
        background-color: #fd008b;
    }

    body {
        /* /* background-image: url('https://wallpaperaccess.com/full/1092611.jpg'); */
        background-image: url('https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-repeat: no-repeat;
        animation: scrollDown 120s linear forwards;
        /* background-color: black; */
    }

    @keyframes scrollDown {
        from {
            background-position: top center;
        }

        to {
            background-position: bottom center;
        }
    }



    @media (max-width: 600px) {
        .question-container {
            width: 95vw;
            padding: 30px 20px;
        }

        .question-text {
            font-size: 1.5rem;
        }

        .choice-container {
            width: 90vw;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }

        .choice {
            padding: 8px;
            font-size: 0.9rem;
        }

        .submit-answer {
            padding: 10px;
            font-size: 0.9rem;
        }
    }

    .leaderboard-link {
        color: white;
        text-decoration: none;
        transition: text-decoration 0.3s ease;
        font-family: "Prompt";
    }

    .leaderboard-link:hover {
        text-decoration: underline;
    }

    .arrow {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .leaderboard-link:hover .arrow {
        transform: translateX(10px);
    }

    .button-leaderboard-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 0 10px;
    }

    .question-text {
        font-family: "Prompt";
        font-weight: 800;
        margin: 5px 20px;
    }


    .timer {
        font-size: 1.10rem;
        padding: 5px 20px;
        border-radius: 5px;
        backdrop-filter: blur(19px) saturate(200%);
        -webkit-backdrop-filter: blur(19px) saturate(200%);
        background-color: rgba(0, 0, 0, 0.62);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        font-family: "Orbitron";
    }

    .answer-section * {
        font-family: "Prompt";
        font-weight: 800;
        margin: 5px 20px;
    }
</style>
{% endblock css %}

{% block body %}
<main class="question-page">

    <div class="question-container">
                    <!-- Correct answer and explanation sections, initially hidden -->
                    <div id="correct-answer-section" class="answer-section" style="display: none;">
                        <h3>Your Rank:<span style="color: gold">{{ rank }}</span></h3> <!-- Updated to show rank -->
                        <h3>Correct Answer:</h3>
                        <p>{{ correct_answer }}</p>
                        <h3>Explanation:</h3>
                        <p>{{ explanation }}</p>
                    </div>
        <h1 class="question-text">{{ question.question_text }}</h1>
        <div id="countdown" class="timer">⏲️ {{ time_remaining }}sec</div> <!-- Countdown timer -->
        {% if question.question_type == 'mcq' %}
        <form id="question-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="time_remaining" id="time_remaining" value="{{ time_remaining }}">
            <div class="choice-container">
                {% for choice in question.choices.all %}
                <label class="choice">
                    <input type="radio" name="choice" value="{{ choice.id }}" onchange="enableSubmitButton()">
                    <span>{{ choice.choice_text }}</span>
                </label>
                {% endfor %}
            </div>
            <div class="button-leaderboard-container">
                <a href="{% url 'leaderboard' %}" class="leaderboard-link">leaderboard <span class="arrow">→</span></a>
                <button type="submit" id="submit-button" class="submit-answer" disabled>Submit Answer</button>
            </div>
        </form>
        {% elif question.question_type == 'text' %}
        <form id="question-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="time_remaining" id="time_remaining" value="{{ time_remaining }}">
            <textarea name="answer" style="width: 100%; padding: 10px; border-radius: 10px; font-size: 1.1rem;"
                oninput="enableSubmitButton()" required></textarea><br>
            <button class="submit-answer" id="submit-button" type="submit" enabled>Submit Answer</button>
        </form>
        {% endif %}
    </div>
</main>


<script>
    // Countdown Timer
    let timeRemaining = {{ time_remaining }};
    const countdownElement = document.getElementById('countdown');
    const correctAnswerSection = document.getElementById('correct-answer-section');
    const submitButton = document.getElementById('submit-button');

    const interval = setInterval(() => {
        if (timeRemaining <= 0) {
            clearInterval(interval);
            // Show the correct answer and explanation
            correctAnswerSection.style.display = 'block';
            submitButton.disabled = true; // Disable the submit button

            // Delay redirection to the next question for 5 seconds
            setTimeout(() => {
                {% if next_question %}
                window.location.href = "{% url 'quiz:display_question' next_question.id %}";
                {% else %}
                window.location.href = "{% url 'quiz:quiz_finished' %}";
                {% endif %}
            }, 5000);
        } else {
            countdownElement.textContent = `⏲️ ${timeRemaining--}s`;
        }
    }, 1000);
    function enableSubmitButton() {

        const submitButton = document.getElementById('submit-button');
        const radioButtons = document.querySelectorAll('input[name="choice"]');
        const textarea = document.querySelector('textarea[name="answer"]');

        const isRadioSelected = Array.from(radioButtons).some(radio => radio.checked);
        const isTextFilled = textarea && textarea.value.trim() !== '';

        submitButton.disabled = !(isRadioSelected || isTextFilled);
    }

    // Prevent multiple submissions
    document.getElementById('question-form').addEventListener('submit', function (event) {
        document.getElementById('submit-button').disabled = true; });

    // Prevent the browser back button
    window.history.pushState(null, null, window.location.href);
    window.onpopstate = function () {
        window.history.go(1);
    };

</script>

{% endblock body %}