{% extends 'base.html' %}
{% load static %}
{% block title %}Hult Prize{% endblock title %}
{% block css %}
<style>
  #preloader {
    background: white no-repeat center center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: 10%;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    position: fixed;

  }
</style>
<!-- icons -->
<!-- <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- swiper css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock css %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <strong>Message : </strong> &nbsp;{{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x"
      viewBox="0 0 16 16">
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
  </button>
</div>
{% endfor %}

<!-- preloader -->
<div id="preloader">
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

  <dotlottie-player src="https://lottie.host/8ae3c606-6f7b-4e53-ab1a-4b7a7b1beed6/eVbvolOi7R.json"
    background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></dotlottie-player>
</div>

<div class="extraMargin"></div>

<!-- content -->
<section>
  <div class="container container-first container-odd">
    <div class="textContent fade-in">
      <h1 class="heading">What is the Hult Prize?</h1>
      <p class="content">
        The Hult Prize Foundation transforms how young people envision their own possibillities
        as leaders of change in the world around them. With a US$ 1,000,000 global statup prize
        as its anchor activity, the Hult Prize has brought Impact-focused programs, events and
        trainings to over a million students globally, creating a pathway for youth everywhere to
        take action to build a better world.
      </p>
    </div>
    <div class="imageContent fade-in">
      <img src="{% static 'assets/pic1.png' %}" />
    </div>
  </div>
  <div class="container container-even">
    <div class="imageContent fade-in">
      <img src="{% static 'assets/teamwork.webp' %}" />
    </div>
    <div class="textContent fade-in">
      <h1 class="heading">
        Why you should participate?
      </h1>
      <p class="content">
        <strong>1. </strong>Certificates for all participants signed by former US President Bill Clinton and Ahmad
        Ashkar, CEO of Hult Foundation.
        <br>
        <strong>2. </strong>Mentorship and incubation opportunities from a renowned paned of investors and industry
        experts.
        <br>
        <strong>3. </strong>A chance to represent our college in the prestigious Hult Regional Finals held in one of six
        coutries around the globel.
        <br>
        <strong>4. </strong>Finally, a chance to enjoy an unparalleled learning experience, while solving some of the
        greatest challenges that plague humanity.
      </p>
    </div>
  </div>
  <div class="container container-odd">

    <div class="textContent fade-in">
      <h1 class="heading">
        This Year's Theme
      </h1>
      <p class="content">
        The Hult Prize organization has officially announced this year's problem statement: <br>"An idea with a global
        impact and alignment with at least one Sustainable Development Goal."
        <br>
        This year, you can pitch any idea you have for a social enterprise, as long as it is world-changing and aligned
        with at least one of the United Nations Sustainable Development Goals (SDGs).
        <br>
        The clock is ticking, so pull your socks up and start working on your B-plan.
        <br>
      </p>
      <!-- <a href=https://a.storyblok.com/f/133195/x/9b00d13b31/hult-prize-2024-challenge-unlimited.pdf target="_blank">
         Download the Challenge Pdf <i class="fa fa-file-pdf-o"></i> </a> -->
    </div>
    <div class="imageContent fade-in">
      <img src="{% static 'assets/challenge.webp' %}" />
    </div>
  </div>
  <div class="container container-last container-even">
    <div class="imageContent fade-in">
      <img src="{% static 'assets/0x0.webp' %}" alt="" />
    </div>
    <div class="textContent fade-in">
      <h1 class="heading">How to Register?</h1>
      <p class="content">
        To participate you must have at least 3 and maximum of 4 members in your team. <br><br>
        If you have decided all the members of your team, then the team leader can register (sign up) and then fill the
        details of all the other members. Other members will receive the request and can accept, following which they
        can be added to the team. In case they reject, team leader still has the option to add other members to his/her
        team.<br><br>
        If you cannot find other team members but wish to participate, then you can register and choose to join other
        teams by sending them a request. Once your request is accepted, you will be added to that team. Please note that
        you can only send a request once in 24 hours.
      </p>
    </div>
  </div>
</section>

<!-- timeline -->

<main>
  <h2 class="title">Timeline</h2>

  <!-- 1 -->
  <div class="timeline">
    <h3 class="heading-timeline">PRE HULT 1-3 NOVEMBER 2024</h3>
    <p class="content-timeline">
      There will be a Pre-Hult event to introduce you to the Hult Prize 2025.
    </p>

  </div>
  <!-- 2 -->
  <div class="timeline">
    <h3 class="heading-timeline">REGISTRATIONS CLOSE - 19 DECEMBER 2024</h3>
    <p class="content-timeline">
      Registrations opened for the application of Hult Prize
      <br>
      <a href="/signup" class="timelineLink"> Click here to Register <i class="fa-solid fa-pen-to-square"></i> </a>


  </div>
  <!-- 3 -->
  <div class="timeline">
    <h3 class="heading-timeline">ON CAMPUS ORIENTATION - 6 December 2024 </h3>
    <p class="content-timeline">
      There will be an oncampus orientation on 6th December.
      <br>
    </p>
  </div>
  <!-- 4 -->
  <div class="timeline">
    <h3 class="heading-timeline">SPEAKER SESSION - 10th, 11th DECEMBER 2024</h3>
    <p class="content-timeline">
      There will be a speaker session with 3 mentors on 10th, 11th December.
      <br>
    </p>
  </div>
  <!-- 5 -->
  <div class="timeline">
    <h3 class="heading-timeline">MENTOR SESSION - 14th, 15th, 16th DECEMBER 2024</h3>
    <p class="content-timeline">
      There will be a mentor session with 3 mentors on 14th, 15th, 16th December.
      <br>
    </p>
  </div>
  <!-- 6 -->
  <div class="timeline">
    <h3 class="heading-timeline">ON CAMPUS ROUND 2025 - 20th, 21st, 22nd DECEMBER 2024 </h3>
    <p class="content-timeline">
      The much awaited On Campus Round will be held on 20th, 21st, 22nd December.
      <br>
    </p>
  </div>

</main>

<!-- Swiper -->
<div class="swiper mySwiper fade-in" id="swiper">
  <div class="swiper-wrapper">

    <!-- slide 10 -->
    <div class="swiper-slide">
      <div class="swiperImg">

        <a href="https://www.instagram.com/p/C1d9MXaNzun/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/terranova.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>Winners</h3>
          <h2>2024</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team "TerraNova" as the winning team of
          HULT Prize '24 , OnCampus Round, NIT Durgapur. The team comprised of 1st-year
          students, namely Md. Saad Rahman, Aniruddh Shahal, Ayush Gupta and Md. Huzaifah Alam.
          Their idea revolves around the health and sustainability, cultivating premium spirulina.
        </p>

      </div>
    </div>

    <!-- slide 11 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/C1d8XWXtEqS/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Erneult.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2024</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team " Erneult " as the joint runner up of HULT
          Prize '24, OnCampus Round, NIT Durgapur. The team comprised of 1st-year students,
          namely Sutapa Naskar, Ridhi Kumari, and Prity Kumari. Their idea revolves around
          innovative concept of compacting plastic bottles with wrappers and molding them
          with natural gypsum.
        </p>

      </div>
    </div>

    <!-- slide 12 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/C1d7WCwtld6/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/biopen.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2024</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team " Biopen " as the joint runner up of HULT
          Prize '24, OnCampus Round, NIT Durgapur. The team comprised of 1st-year students,
          namely Shagupta Paul, Satyake Sadhukhan, and Rajshekhar Das. Their idea revolves around
          making our planet better by making pen for its true usage, by using eco-friendly biopens.
        </p>

      </div>
    </div>

    <!-- slide 13 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/C1d5onRNYCu/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Achievers.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>Special Mention</h3>
          <h2>2024</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team " Achievers " as the special mention team of HULT
          Prize '24, OnCampus Round, NIT Durgapur. The team comprised of 1st-year students,
          namely Pratik Shaw, Vedanga Bhardwaj, and Triparno Chakraborty. Their idea revolves around
          building an efficient and stable user interface which would provide users with smooth
          and efficient bus journeys.
        </p>

      </div>
    </div>




    <!-- slide 7 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/Cm80b_CvzKB/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/NeoDynamo.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>Winners</h3>
          <h2>2023</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team "Neo Dynamo" as the winning team of
          HULT Prize '23 , OnCampus Round, NIT Durgapur. The team comprised of 1st-year
          students, namely Arkarup Mitra, Kushagra Lal, Apratim Das and Souryadipta Khan.
          Their idea involves the use of stable diffusion AI to provide custom fashion
          designs for a fee.
        </p>

      </div>
    </div>


    <!-- slide 8 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/Cm8zwCfPNbP/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Dumbledore.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2023</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team " Dumbledore " as the joint runner up of HULT
          Prize '23, OnCampus Round, NIT Durgapur. The team comprised of 1st-year students,
          namely Argha Deep Metya, Debojit Low, Asish Ghosh and Kousik Pal. Their idea is
          to replace the traditional silk with Lotus silk which opts as the best alternative
          option and is eco friendly as well.
        </p>

      </div>
    </div>


    <!-- slide 9 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/Cm8y8tzPPrW/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Style_Swap.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2023</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team " Style_Swap " as the joint runner up of HULT Prize
          '23 , OnCampus Round, NIT Durgapur. The team comprised of 1st-year students, namely
          Mohd Shoeb, Akash Dutta, Rohan Dutta and Ritik Kumar Bind. Their idea is to escalate
          fashion by providing the latest trends on a rental basis thereby reducing clothes
          per head and thus pollution.
        </p>

      </div>
    </div>

    <!-- slide 1 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/Ca17rJDPTZV/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Trouvaillieur.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>Winners</h3>
          <h2>2021</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team "Trouvailleur" as the Winner of HULT Prize '22,
          OnCampus Round, NIT Durgapur. The team comprised of 1st year students, namely
          Hiya Aidasani, Aditya Agarwal, Debanjan Bhattacharjee and Kshitiz Chadha.
          Their idea involves the integration of real and
          virtual tourism, and thus providing employments for local communities.
        </p>

      </div>
    </div>

    <!-- slide 2 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/Ca16tjAPxv0/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/AAKARSH.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2021</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team "Aakarsh" as the Joint Runner Up of HULT Prize '22,
          OnCampus Round, NIT Durgapur. The team comprised of 1st year students, namely Priyanshu Bartwal,
          Anshu Agarwal, Liza Gupta and Bedabrata Brahma. Their idea involves the revival of the
          captivating collection of lost Indian culture and providing the local artisans, a platform to manufacture
          products and art in old traditional ways along with a ready market.
        </p>

      </div>
    </div>

    <!-- slide 3 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/Ca17D6ePz-f/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Homely Bites.png' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2021</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team EDC is proud to announce Team "Homely Bites" as the Joint Runner Up of HULT Prize '22, OnCampus Round,
          NIT Durgapur.
          The team comprised of 1st year students, namely Mohd Shoeb, Poorab Kumar, Sanvie Singhal and Manshi Singh.
          Their idea
          involves the provision of home-style meals and local delicacies, prepared by small scale shops at minimal
          price and time.
        </p>

      </div>
    </div>

    <!-- slide 4 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/CI0sqR-jmD6/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Vikaar.jpg' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>Winners</h3>
          <h2>2019</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team 'Vikaar' was adjudged the Winners at the first Hult Prize OnCampus Finals at NIT Durgapur.
          Comprising of 2nd year students, Abha Jha, Ankit Rai, Ritabrata Ganguly and Sebontika Bose,
          their idea was based on the use of surplus grain and properly channelling it into useful
          products and food items.
          The uniqueness and creativity in their idea really impressed the judges who unanimously
          declared them the winners.
        </p>

      </div>
    </div>

    <!-- slide 5 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/CI0oPdGj1pH/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Sahara.jpg' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2019</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team 'Sahara' was adjudged the 1st Runner-up at the first Hult Prize OnCampus Finals at
          NIT Durgapur. Comprising of 1st year students, Purvi Binani, Shruti Sharma, Zoya Ahmed and
          Sudeshna Saha, their idea revolves around setting up 'Healthy Vending' machines to provide
          nutritious meals using produce from nearby farms to cater to the needs of corporate sectors,
          colleges and hospitals.
        </p>

      </div>
    </div>

    <!-- slide 6 -->
    <div class="swiper-slide">
      <div class="swiperImg">
        <a href="https://www.instagram.com/p/CI0gK19Dji0/" target="_blank">
          <img class="imgTransition" id="imgTransition" src="{% static 'assets/Morph.jpg' %}" alt="">
        </a>
      </div>
      <div class="swiperContent">
        <div class="title">
          <h3>RunnerUps</h3>
          <h2>2019</h2>
        </div>
        <p class="contentTransition" id="contentTransition">
          Team 'Morph' was adjudged the 2nd Runner-up at the first Hult Prize OnCampus Finals at
          NIT Durgapur. Comprising of 2nd year students, Devansh Goyal, Raj Gaurav, Aniket Verma and
          Pushpanjali Bharti, their idea was to directly link farmers with local restaurants, thus
          eliminating the middlemen in between and creating value and empowerment for both the farmers
          and the local restaurants.
        </p>

      </div>
    </div>



  </div>
  <div class="swiper-button-next swiperBtn" id="autoClick"></div>
  <div class="swiper-button-prev swiperBtn"></div>
  <div class="swiper-pagination"></div>
</div>


{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{%static 'js/swiper.js' %}"></script>
<script>
  const closeBtn = document.querySelector(".btn-close");
  if (closeBtn) {
    closeBtn.addEventListener("click", () => {
      document.querySelector(".alert").style.display = "none";
    });
  }
</script>
<script>
  const faders = document.querySelectorAll('.fade-in');
  const sliders = document.querySelectorAll('.slide-in');
  const appearOptions = {
    threshold: 0.7,
    rootMargin: "0px 0px 100px 0px"
  };
  const appearOnScroll = new IntersectionObserver(function (
    entries,
    appearOnScroll) {
      entries.forEach(entry => {
        if (!entry.isIntersecting) {
          return;
        }
        else {
          entry.target.classList.add('appear');
          appearOnScroll.unobserve(entry.target);
        }
      });
  }, appearOptions);

  faders.forEach(fader => {
    appearOnScroll.observe(fader);
  });
  sliders.forEach(slider => {
    appearOnScroll.observe(slider);
  })
</script>
{% endblock script %}