{% extends 'base.html' %}
{% block title %}Hult Prize{% endblock title%} 
{%block css %}
<style>
  .container {
    margin-top: 90px;
    padding: 1.5rem;
    text-align: center;
  }
  .navbar-resp {
    position: relative;
  }
  p {
    margin-top: 10px;
  }
</style>
{% endblock css %}

{% block body %}
<!-- preloader -->
<div id="preloader">
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player src="https://lottie.host/f8eea060-94a4-49c4-ba26-afcaf9db89ef/QE00QfxVj6.json" background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></dotlottie-player>
</div>
<div class="container">
  <h3>
    Please click on the link sent to your registered email to reset your
    password
  </h3>
  <p>(Please check your spam folder)</p>
</div>
{% endblock body %}
