{% extends 'base.html' %} 
{% block title %}Activate Account{% endblock %}
{% block css %}
<style>
  .token-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    margin: 0 30px;
    gap: 15px;
  }

  .spam-check {
    color: #e6007f;
    font-size: 1.1rem;
  }
</style>
{% endblock css %}
{% block body %}
<div class="token-container">
  <h2>
    Please click on the link sent to your registered email to activate your
    account
  </h2>
  <p class="spam-check">Please check your spam folder</p>
</div>
{% endblock body %}