{% extends 'base.html' %}
{% block title %}Hult Prize{% endblock title%} 
{%block css %}
<style>
  #preloader{
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  position: fixed;
  
}
  .container {
    margin-top: 90px;
    padding: 1.5rem;
    text-align: center;
  }
  .navbar-resp {
    position: relative;
  }
  p {
    margin-top: 10px;
  }
</style>
{% endblock css %}

{% block body %}
<!-- preloader -->
<div id="preloader">
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/8ae3c606-6f7b-4e53-ab1a-4b7a7b1beed6/eVbvolOi7R.json" background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></dotlottie-player>
</div>
<div class="container">
  <h3>
    Please click on the link send to your registered email to activate your
    account
  </h3>
  <p>(Please check your spam folder)</p>
</div>
{% endblock body %}

